rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAuth () {
      return request.auth != null
    }

    match /posts/{postId} {
      allow list;
      allow create: if isAuth();
      allow update, delete: if request.auth.uid == get(/databases/$(database)/documents/posts/$(postId)).data.user.id;
    }
    match /clubs/{clubId}/posts/{postId} {
      allow get, list;
      allow create: if isAuth();
      allow update, delete: if request.auth.uid == get(/databases/$(database)/documents/clubs/$(clubId)/posts/$(postId)).data.user.id;
    }
    match /users/{userId} {
      allow get, create;
      match /posts/{postId} {
        allow get, list;
        allow create: if isAuth();
        allow update, delete: if request.auth.uid == get(/databases/$(database)/documents/users/$(userId)/posts/$(postId)).data.user.id;
      }
      match /credentials/{userId} {
        allow create;
        allow get, update, delete: if request.auth.uid == get(/databases/$(database)/documents/users/$(userId)/credentials/$(userId)).data.userId;
      }
    }
  }
}
