rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAuth () {
      return request.auth != null
    }
    function isUser (userId) {
      return request.auth.uid == userId;
    }

    match /users/{userId} {
      allow get, create;
      allow update: if request.auth.uid == userId
      match /posts/{postId} {
        allow get, list;
        allow create: if isAuth();
        allow update, delete: if isUser(userId);
      }
      match /credentials/{userId} {
        allow create, get;
        allow update, delete: if isUser(userId);
      }
    }
    match /{path=**}/posts/{post} {
      allow get, list;
    }
  }
}
